#slider {
    background: #000;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    height: 320px;
    width: 680px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
}


#mask {
    overflow: hidden;
    height: 320px;
}

#slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}


#slider li {
    width: 680px;  /* Width Image */
    height: 320px; /* Height Image */
    position: absolute;
    left: -685px; /* Original Position - Outside of the Slider */
    list-style: none;
}


#slider li.firstanimation {
    animation: cycle 25s linear infinite;
}

#slider li.secondanimation {
    animation: cycletwo 25s linear infinite;
}

#slider li.thirdanimation {
    animation: cyclethree 25s linear infinite;
}

#slider li.fourthanimation {
    animation: cyclefour 25s linear infinite;
}

#slider li.fifthanimation {
    animation: cyclefive 25s linear infinite;
}




@keyframes cycle {
    0%  { left: 0px; } /* When you start the slide, the first image is already visible */
    4%  { left: 0px; } /* Original Position */
    16% { left: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
    20% { left: 680px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
    21% { left: -680px; opacity: 0; z-index: -1; } /* Return to Original Position */
    92% { left: -680px; opacity: 0; z-index: 0; }
    96% { left: -680px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
    100%{ left: 0px; opacity: 1; }
}

@keyframes cycletwo {
    0%  { left: -680px; opacity: 0; } /* Original Position */
    16% { left: -680px; opacity: 0; }/* Starts moving after 16% to this position */
    20% { left: 0px; opacity: 1; }
    24% { left: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
    36% { left: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
    40% { left: 680px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
    41% { left: -680px; opacity: 0; z-index: -1; }   /* Return to Original Position */
    100%{ left: -680px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
    0%  { left: -680px; opacity: 0; }
    36% { left: -680px; opacity: 0; }
    40% { left: 0px; opacity: 1; }
    44% { left: 0px; opacity: 1; }
    56% { left: 0px; opacity: 1; }
    60% { left: 680px; opacity: 0; z-index: 0; }
    61% { left: -680px; opacity: 0; z-index: -1; }
    100%{ left: -680px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
    0%  { left: -680px; opacity: 0; }
    56% { left: -680px; opacity: 0; }
    60% { left: 0px; opacity: 1; }
    64% { left: 0px; opacity: 1; }
    76% { left: 0px; opacity: 1; z-index: 0; }
    80% { left: 680px; opacity: 0; z-index: 0; }
    81% { left: -680px; opacity: 0; z-index: -1; }
    100%{ left: -680px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
    0%  { left: -680px; opacity: 0; }
    76% { left: -680px; opacity: 0; }
    80% { left: 0px; opacity: 1; }
    84% { left: 0px; opacity: 1; }
    96% { left: 0px; opacity: 1; z-index: 0; }
    100%{ left: 680px; opacity: 0; z-index: 0; }
}


.progress-bar {
    position: relative;
    top: -320px;
    width: 5px;
    height: 320px;
    background: #000;
    animation: fullexpand 25s ease-out infinite;
}


@keyframes fullexpand {
    /* In these keyframes, the progress-bar is stationary */
    0%, 20%, 40%, 60%, 80%, 100% { height: 0%; opacity: 0; }

    /* In these keyframes, the progress-bar starts to come alive */
    4%, 24%, 44%, 64%, 84% { height: 0%; opacity: 0.3; }

    /* In these keyframes, the progress-bar moves forward for 3 seconds */
    16%, 36%, 56%, 76%, 96% { height: 100%; opacity: 0.7; }

    /* In these keyframes, the progress-bar has finished his path */
    17%, 37%, 57%, 77%, 97% { height: 100%; opacity: 0.3; }

    /* In these keyframes, the progress-bar will disappear and then resume the cycle */
    18%, 38%, 58%, 78%, 98% { height: 100%; opacity: 0; }
}


#slider .tooltip {
    background: rgba(0,0,0,0.7);
    width: 300px;
    height: 60px;
    position: relative;
    bottom: 75px;
    left: -320px;
}

#slider .tooltip h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    padding: 0 0 0 10px;
}
